In [16]:
import pandas as pd
df = pd.read_csv('ks-projects-201801.csv')

In [22]:
df.shape

(378661, 15)

In [24]:
df.dropna(inplace=True)
df.shape

(374860, 15)

In [37]:
df.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [44]:
df['state'].value_counts()

failed        197611
successful    133851
canceled       38757
live            2798
suspended       1843
Name: state, dtype: int64

In [41]:
df.drop(['ID','category','currency'],axis=1,inplace=True)

In [55]:
from datetime import datetime
def days_between(dd1, dd2):
    ddres=[]
    for d1,d2 in zip(dd1,dd2):
        d1 = datetime.strptime(d1, "%Y-%m-%d")
        d2 = datetime.strptime(d2, "%Y-%m-%d %H:%M:%S")
        ddres.append(abs((d2 - d1).days))
    return ddres

df['timeframe']=days_between(df['deadline'],df['launched'])

In [60]:
df.drop(['deadline','launched'],axis=1, inplace=True)
df.head()

,name,main_category,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,timeframe
0,The Songs of Adelaide & Abullah,Publishing,1000.0,0.0,failed,0,GB,0.0,0.0,1533.95,59
1,Greeting From Earth: ZGAC Arts Capsule For ET,Film & Video,30000.0,2421.0,failed,15,US,100.0,2421.0,30000.00,60
2,Where is Hank?,Film & Video,45000.0,220.0,failed,3,US,220.0,220.0,45000.00,45
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,5000.0,1.0,failed,1,US,1.0,1.0,5000.00,30
4,Community Film Project: The Art of Neighborhoo...,Film & Video,19500.0,1283.0,canceled,14,US,1283.0,1283.0,19500.00,56

In [71]:
df['state'].value_counts()

failed        197611
successful    133851
canceled       38757
live            2798
suspended       1843
Name: state, dtype: int64

In [75]:
df=df[df.state.isin(['failed','successful'])]

In [76]:
df.shape

(331462, 11)

In [77]:
df

,name,main_category,goal,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,timeframe
0,The Songs of Adelaide & Abullah,Publishing,1000.0,0.0,failed,0,GB,0.0,0.0,1533.95,59
1,Greeting From Earth: ZGAC Arts Capsule For ET,Film & Video,30000.0,2421.0,failed,15,US,100.0,2421.0,30000.00,60
2,Where is Hank?,Film & Video,45000.0,220.0,failed,3,US,220.0,220.0,45000.00,45
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,5000.0,1.0,failed,1,US,1.0,1.0,5000.00,30
5,Monarch Espresso Bar,Food,50000.0,52375.0,successful,224,US,52375.0,52375.0,50000.00,35
...,...,...,...,...,...,...,...,...,...,...,...
378654,"Homemade fresh dog food, Cleveland OH",Food,6500.0,154.0,failed,4,US,0.0,154.0,6500.00,30
378657,The Tribe,Film & Video,1500.0,155.0,failed,5,US,155.0,155.0,1500.00,27
378658,Walls of Remedy- New lesbian Romantic Comedy f...,Film & Video,15000.0,20.0,failed,1,US,20.0,20.0,15000.00,46
378659,BioDefense Education Kit,Technology,15000.0,200.0,failed,6,US,200.0,200.0,15000.00,31
378660,Nou Renmen Ayiti! We Love Haiti!,Art,2000.0,524.0,failed,17,US,524.0,524.0,2000.00,28

In [82]:
df.loc[df['state']=='failed','result']=0
df.loc[df['state']=='successful','result']=1

In [93]:
dflabel={'0.0':'failed', '1.0':'succssful'}
dflabel[str(df.iloc[1]['result'])]

'failed'

In [94]:
df.corr()

,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real,timeframe,result
goal,1.000000,0.007962,0.004792,0.006416,0.005949,0.952614,0.022696,-0.025096
pledged,0.007962,1.000000,0.718120,0.857966,0.953465,0.005716,0.008036,0.109562
backers,0.004792,0.718120,1.000000,0.697493,0.753221,0.005207,-0.000059,0.125848
usd pledged,0.006416,0.857966,0.697493,1.000000,0.907713,0.006965,0.007718,0.095658
usd_pledged_real,0.005949,0.953465,0.753221,0.907713,1.000000,0.006349,0.008570,0.108359
usd_goal_real,0.952614,0.005716,0.005207,0.006965,0.006349,1.000000,0.021611,-0.023732
timeframe,0.022696,0.008036,-0.000059,0.007718,0.008570,0.021611,1.000000,-0.116466
result,-0.025096,0.109562,0.125848,0.095658,0.108359,-0.023732,-0.116466,1.000000

In [95]:
df.drop(['goal','pledged'],axis=1,inplace=True)

C:\Users\Moata\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [96]:
df.head()

,name,main_category,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,timeframe,result
0,The Songs of Adelaide & Abullah,Publishing,failed,0,GB,0.0,0.0,1533.95,59,0.0
1,Greeting From Earth: ZGAC Arts Capsule For ET,Film & Video,failed,15,US,100.0,2421.0,30000.00,60,0.0
2,Where is Hank?,Film & Video,failed,3,US,220.0,220.0,45000.00,45,0.0
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,failed,1,US,1.0,1.0,5000.00,30,0.0
5,Monarch Espresso Bar,Food,successful,224,US,52375.0,52375.0,50000.00,35,1.0

In [97]:
df.corr()

,backers,usd pledged,usd_pledged_real,usd_goal_real,timeframe,result
backers,1.000000,0.697493,0.753221,0.005207,-0.000059,0.125848
usd pledged,0.697493,1.000000,0.907713,0.006965,0.007718,0.095658
usd_pledged_real,0.753221,0.907713,1.000000,0.006349,0.008570,0.108359
usd_goal_real,0.005207,0.006965,0.006349,1.000000,0.021611,-0.023732
timeframe,-0.000059,0.007718,0.008570,0.021611,1.000000,-0.116466
result,0.125848,0.095658,0.108359,-0.023732,-0.116466,1.000000

In [98]:
df.drop(['usd pledged'],axis=1,inplace=True)

C:\Users\Moata\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [99]:
df.head()

,name,main_category,state,backers,country,usd_pledged_real,usd_goal_real,timeframe,result
0,The Songs of Adelaide & Abullah,Publishing,failed,0,GB,0.0,1533.95,59,0.0
1,Greeting From Earth: ZGAC Arts Capsule For ET,Film & Video,failed,15,US,2421.0,30000.00,60,0.0
2,Where is Hank?,Film & Video,failed,3,US,220.0,45000.00,45,0.0
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,failed,1,US,1.0,5000.00,30,0.0
5,Monarch Espresso Bar,Food,successful,224,US,52375.0,50000.00,35,1.0

In [100]:
df.corr()

,backers,usd_pledged_real,usd_goal_real,timeframe,result
backers,1.000000,0.753221,0.005207,-0.000059,0.125848
usd_pledged_real,0.753221,1.000000,0.006349,0.008570,0.108359
usd_goal_real,0.005207,0.006349,1.000000,0.021611,-0.023732
timeframe,-0.000059,0.008570,0.021611,1.000000,-0.116466
result,0.125848,0.108359,-0.023732,-0.116466,1.000000

In [101]:
df.median()

backers               15.0
usd_pledged_real     787.5
usd_goal_real       5000.0
timeframe             30.0
result                 0.0
dtype: float64

In [ ]:
df.mean()